NEXT_PUBLIC_ENDPOINT_URL=/api/sendEmail

SMTP_HOST=mail.richcavagnarobooks.com
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_USERNAME=contact@richcavagnarobooks.com
SMTP_PASSWORD=
MAIL_TO=contact@richcavagnarobooks.com
MAIL_FROM_NAME="Rich Cavagnaro Books"
LOGO_URL=https://rory-ruckus.com/imgs/book-mockup.png
DEBUG_MODE=0
CORS_ALLOWED_ORIGINS=https://rory-ruckus.com,https://www.rory-ruckus.com
